[submodule "gmail-app-script"]
	path = gmail-app-script
	url = git@github.com:namaggarwal/gmail-app-script.git
[submodule "microsoft-todo-app-script"]
	path = microsoft-todo-app-script
	url = git@github.com:namaggarwal/microsoft-todo-app-script.git
[submodule "oauth2-client-app-script"]
	path = oauth2-client-app-script
	url = git@github.com:namaggarwal/oauth2-client-app-script.git
